@import url('https://rsms.me/inter/inter.css');

:root {
   /* rip dark mode
   --light-theme-background: #e7f3f3;
   --dark-theme-background: #0e242a;
   */
   --color-background-1: #e5f3f3;
   --color-background-2: #e5f3f3;
   --color-background-stuff: #ffc521;
   --color-text: #1b1b1b;
   --color-scheme: dark;
   --color-text-button: #ffffff;
   --opacity-background-2: 0;
   --img-filter: invert(0);
}

html {
   min-height: var(--real-vh);
   font-family: 'Inter', sans-serif;
   color-scheme: var(--color-scheme);
}

@supports (font-variation-settings: normal) {
   html {
      font-family: 'Inter var', sans-serif;
   }
}

body {
   /* fix for background height 100%! */
   display: grid;
   min-height: var(--real-vh);
}

.background-1,
.background-2,
main {
   /* fix for background height 100%! */
   grid-area: 1 / 1 / 2 / 2;
}

.background-1 {
   z-index: 1;
   background: var(--color-background-1);
}
.background-2 {
   z-index: 2;
   opacity: var(--opacity-background-2);
   transition: opacity 0.15s cubic-bezier(0.32, 0.25, 0.15, 1.24);
   background: var(--color-background-2);
}

main {
   z-index: 3;
   transition: color 0.12s cubic-bezier(0.32, 0.25, 0.15, 1.24);
   font-size: 0.91rem;
   padding: 3.2vw 3.5vw;
   max-width: 42rem;
   min-height: calc(var(--real-vh) - 7vw);
   margin: 0;
   display: flex;
   flex-flow: column;
   color: var(--color-text);
}

/* rip dark mode
@media (prefers-color-scheme: dark) {
   html {
      color-scheme: dark;
   }
   body {
      background-color: var(--dark-theme-background);
      color: #e9e9e9;
   }
 }
*/

p {
   line-height: 1.5em;
   margin-bottom: 1.2em;
}

.blank-space {
   display: block;
   width: auto;
   margin-bottom: 3em;
}

.blank-space-2 {
   margin-bottom: 2em;
}

header {
   display: flex;
   flex-flow: row;
   margin: 1em 0;
   place-content: space-between;
   align-items: flex-start;
}

a {
   text-decoration: none;
   color: inherit;
   padding-bottom: 1px;
   border-bottom: 1px solid;
   transition: border 0.2ms ease;
}

a:hover {
   border-bottom: 2px solid;
}

.small {
   display: block;
   font-size: 0.85em;
   line-height: 1.6em;
}

.very-small {
   margin-top: 0.4em;
   display: block;
   font-size: 0.76em;
   line-height: 1.6em;
}

footer {
   margin-top: auto;
}

.img-and-background {
   display: grid;
   max-width: 34em;
   margin-top: 2em;
}

.img-background {
   grid-area: 1 / 1 / 2 / 2;
   background-color: #f0003c;
   border-radius: 8px;
}

ul {
   padding-left: 1.4em;
}

li {
   margin: 0.5em 0;
}

img {
   display: block;
   height: auto;
   width: 100%;
   border-radius: 6px;
   transition: all 0.1s ease;
   grid-area: 1 / 1 / 2 / 2;
   /*
   transition: all 0.1s ease;
   mix-blend-mode: exclusion;
   filter: var(--img-filter);
   */
}

.img-and-background:hover img {
   transform: translate(-6px, -6px);
}

/* img:hover {
   transform: scale(1.005);
} */

/* cool button */

.pushable {
   position: relative;
   border: none;
   background: transparent;
   padding: 0;
   cursor: pointer;
   outline-offset: 4px;
   transition: filter 250ms;
   -webkit-tap-highlight-color: transparent;
   user-select: none;
   margin-top: 0.6em;
}
.pushable .shadow {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 0.8em;
   background: hsl(0deg 0% 0% / 0.25);
   will-change: transform;
   transform: translateY(2px);
   transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.pushable .edge {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 0.8em;
   background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
   );
}
.pushable .front {
   display: flex;
   align-items: center;
   position: relative;
   flex-flow: row;
   justify-content: center;
   padding: 0.8em 1.3em;
   border-radius: 0.8em;
   font-size: 0.8rem;
   color: var(--color-text-button);
   background: hsl(345deg 100% 47%);
   will-change: transform;
   transform: translateY(-4px);
   transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.pushable .front svg {
   height: 1.3em;
   width: auto;
}
.pushable .front svg path {
   fill: var(--color-text-button);
}
.pushable .front span {
   margin-left: 0.3em;
}
.pushable:hover {
   filter: brightness(110%);
}
.pushable:hover .front {
   transform: translateY(-6px);
   transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .front {
   transform: translateY(-2px);
   transition: transform 34ms;
}
.pushable:hover .shadow {
   transform: translateY(4px);
   transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .shadow {
   transform: translateY(1px);
   transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
   outline: none;
}

.img-control {
   display: flex;
   flex-flow: row;
   margin-top: 0.4em;
   justify-content: space-between;
   max-width: 34em;
   align-items: center;
   max-width: calc(34em + 4px);
   transform: translateX(-1px);
}

.rip-img-button {
   user-select: none;
   cursor: pointer;
   padding: 6px;
   box-sizing: border-box;
   transform: translate(6px, 0);
   -webkit-tap-highlight-color: transparent;
   user-select: none;
}

.img-text-c {
   display: none;
}

#img-wrapper {
   transform-origin: top left;
   transition: transform 0.5s cubic-bezier(0.83, -0.01, 0.39, 1.01),
      opacity 0.47s ease;
}

.show {
   display: block;
   animation: fadeInFromNone 1s ease-out;
}

.hide-img-wrapper {
   transform: scale(0);
   opacity: 0;
}

@keyframes fadeInFromNone {
   0% {
      opacity: 0;
   }

   1% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}
