@font-face {
	font-family: InterVariable;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/inter-4.0/subset/InterVariable-subset.woff2") format("woff2");
	// src: url("/inter-4.0/InterVariable.woff2") format("woff2");
}
@font-face {
	font-family: InterVariable;
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url("/inter-4.0/subset/InterVariable-Italic-subset.woff2") format("woff2");
	// src: url("/inter-4.0/InterVariable-Italic.woff2") format("woff2");
}

::view-transition-group(root) {
	animation: none;
 }

:root {
	font-optical-sizing: auto;
	font-variation-settings: "opsz" 22;
	font-feature-settings: "calt";
	font-weight: 400;
	font-size: 1.03rem;
	font-family: "InterVariable", sans-serif;
	// font-variation-settings: "wght" 400, "opsz" 32; /* opsz 32 is Inter Display */
	// letter-spacing: +0.01em;
	color-scheme: light;
	--padding-page: 2rem;
	
	--color-fg-1: #000;
	--color-fg-2: #bbb;
	--page-color-background: #fff;
	--page-color-foreground: #000;
	--link-underline-offset: 0.13em;
	--link-color-hover: var(--page-color-background);
	--link-background-color-hover: #101010;
	--footer-top-color: var(--page-color-background);
	--footer-bottom-color: var(--color-fg-1);
}

body {
	color: var(--page-color-foreground, #000);
	background: var(--page-color-background, #fff);
	overflow-x: hidden;
}

.keep-together {
	white-space: nowrap;
}

a {
	//    text-decoration: none;
	text-underline-offset: var(--link-underline-offset);
}

:where(.links-no-underline) a,
:where(a.no-underline) {
	text-decoration: none;
}

a[target="_blank"],
a[href^="http"] {
	&:not(.disable-link-arrow)::after {
		display: inline-block;
		content: "↗";
		position: relative;
		top: -0.2em;
		padding-left: 0.05em;
		//    font-size: 2em;
		line-height: 0;
		text-decoration: none;
	}
}

:where(button) {
	border: 1px solid var(--page-color-foreground);
}

@media (hover: hover) and (pointer: fine) {	
	:where(a, button):not(.disable-default-a-hover, .btn-style-1):hover,
	.about-authentic:hover {
		border: 0;
		background: var(--link-background-color-hover);
		color: var(--link-color-hover);
		box-shadow: 
		  -$link-shadow-size-horizontal 0 0 $link-shadow-size-vertical var(--link-background-color-hover),
			$link-shadow-size-horizontal 0 0 $link-shadow-size-vertical var(--link-background-color-hover);
	}

	:where(p, li):not(nav li) > :where(a, button):not(.disable-default-a-hover, .btn-style-1):hover {
		box-shadow: 
			0 0 0 $link-shadow-size-vertical var(--link-background-color-hover);
	}
}

.btn-style-1 {
	font-size: 0.86em;
	text-transform: uppercase;
	border: 1px solid var(--page-color-foreground);
	padding: 0.2em 0.4em;
	background: var(--page-color-background);
	&:hover {
		box-shadow: none;
		background: var(--link-background-color-hover);
		color: var(--link-color-hover);
	}
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style-type: none;
 	padding: 0;
}

nav > ul > li > a {
	display: inline-block;
}

:where(ul):not(nav ul) > li {
	&:not(:last-child) {
		margin-bottom: 0.3em;
	}
	&:not(ul.unstyled-list li)::before {
		content: '·';
		display: inline-block;
		margin-right: 0.5em;
		// margin-left: -1em;
	}
}


.content-title-offset,
.work-page-wrapper h2 {
   @include inter-display;
	font-weight: 500;
	letter-spacing: 0.02em;
	// font-size: clamp(0.9em, 3vw, 1em);
   font-size: 1em;
}

.inter-display {
	@include inter-display;
}

.inter-text {
	@include inter-text;
}

.inter-monospace-numbers {
	@include inter-monospace-numbers;
}
