@mixin martyr-blackflag-move($direction, $distance) {
	@keyframes martyr-blackflag-move-#{$direction} {
		from {
			transform: translateX(0) translateY(0);
		}
		to {
			transform: translateX(if($direction == "left" or $direction == "right", $distance, 0))
				translateY(if($direction == "up" or $direction == "down", $distance, 0));
		}
	}
}

$martyr-blackflag-svg-height: 12px;
$martyr-blackflag-svg-width: 46px;
$martyr-blackflag-animation-duration-X: 2.5s;
$martyr-blackflag-animation-duration-Y: 0.3s;

@include martyr-blackflag-move("up", -$martyr-blackflag-svg-height);
@include martyr-blackflag-move("down", $martyr-blackflag-svg-height);
@include martyr-blackflag-move("left", -$martyr-blackflag-svg-width);
@include martyr-blackflag-move("right", $martyr-blackflag-svg-width);

// prettier-ignore
@media (hover: hover) and (pointer: fine) {
:root:has(.work-martyr:hover) {
	// :root:has(.work-martyr) {
	body {
		background: #efefef;
		color: #aeaeae;
	}

	.work-martyr {
		color: #000000;
	}

	@media (max-width: $mobile-layout-breakpoint-1) {
		.header-contact {
			visibility: hidden;
		}
		.about {
			visibility: hidden;
		}
	}

	.images-loaded {
		&.martyr-on-hover-grid-overlay {
			visibility: visible;
		}

		.torn-paper-overlay-desktop-img {
			rotate: 0deg;
			translate: 8% 40.5%;
		}

		.torn-paper-overlay-mobile {
			&-img-1 {
				translate: 0% 0%;
				rotate: 0deg;
			}
			&-img-2 {
				rotate: -0.3deg;
				translate: 0% 0%;
			}
			&-img-3 {
				rotate: 5deg;
				translate: 0% 0%;
			}
		}
	}

	.flag-interior {
		position: relative;
		overflow: hidden;
		background: #dfdfdf;
		// border: solid 1px #101010;
		border: none;
	}

	.flag-interior:after {
		position: absolute;
		color: black;
		font-size: 10px;
		white-space: pre;
		line-height: 12px;
		padding-left: 1px;
		font-weight: 400;
		font-variation-settings: "opsz" 14;
		letter-spacing: -0.02em;
		will-change: transform;
		content: "martyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\amartyr—martyr—martyr—\a";
		// content: "";
		//    background-image: url(martyr-logo-full-black.svg);
		//    background-image:
		// background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='black' font-size='20' font-family='InterVariable'>martyr— </text></svg>");
		background-repeat: repeat;
		background-size: $martyr-blackflag-svg-width $martyr-blackflag-svg-height;
		background-position: 0 0;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}

	.flag-1 .flag-interior:after,
	.flag-3 .flag-interior:after {
		animation-name: martyr-blackflag-move-up;
		width: 100%;
		height: calc(100% + $martyr-blackflag-svg-height);
		animation-duration: $martyr-blackflag-animation-duration-Y;
	}

	.flag-2 .flag-interior:after,
	.flag-4 .flag-interior:after {
		animation-name: martyr-blackflag-move-down;
		top: -$martyr-blackflag-svg-height;
		width: 100%;
		height: calc(100% + $martyr-blackflag-svg-height);
		animation-duration: $martyr-blackflag-animation-duration-Y;
	}

	/*
.flag-1 .flag-interior:after {
   animation-name: martyr-blackflag-move-up;
   width: 100%;
   height: calc(100% + $martyr-blackflag-svg-height);
   animation-duration: $martyr-blackflag-animation-duration-Y;
}

.flag-2 .flag-interior:after {
   animation-name: martyr-blackflag-move-down;
   top: -$martyr-blackflag-svg-height;
   width: 100%;
   height: calc(100% + $martyr-blackflag-svg-height);
   animation-duration: $martyr-blackflag-animation-duration-Y;
}

.flag-3 .flag-interior:after {
   animation-name: martyr-blackflag-move-left;
   width: calc(100% + $martyr-blackflag-svg-width);
   height: 100%;
   animation-duration: $martyr-blackflag-animation-duration-X;
}

.flag-4 .flag-interior:after {
   animation-name: martyr-blackflag-move-right;
   left: -$martyr-blackflag-svg-width;
   width: calc(100% + $martyr-blackflag-svg-width);
   height: 100%;
   animation-duration: $martyr-blackflag-animation-duration-X;
}
*/
}

:root:has(.work-monk:hover) {
	// :root:has(.work-monk) {
	color-scheme: dark;

	body {
		background: #000000;
		color: #414141;
	}

	.blackflag {
		visibility: hidden;
	}

	.work-monk {
		color: #efefef;
	}

	@keyframes monk-overlay-image {
		0% {
			opacity: 0;
			scale: 0.9;
		}
		5% {
			opacity: 0;
			scale: 0.9;
		}
		70% {
			opacity: 1;
		}
		100% {
			opacity: 1;
			scale: 1;
		}
	}

	.monk-on-hover-grid-overlay {
		visibility: visible;
		.plastic-surgery-01 {
			animation: monk-overlay-image 2s cubic-bezier(0.25, 0.16, 0.01, 0.99)
				0.1s 1 normal forwards;
		}
	}

	@media (max-width: $mobile-layout-breakpoint-1) {
		.about {
			visibility: hidden;
		}
		// .symbol-small {
		//    visibility: hidden;
		// }
	}
}

:root:has(.work-senegal:hover) {
	// :root:has(.work-senegal) {
	body {
		background: #2b0961;
		color: #ffffff;
	}

	.blackflag {
		visibility: hidden;
	}

	@media (max-width: $work-astro-breakpoint) {
		footer {
			visibility: hidden;
		}
	}

	@media (max-width: $mobile-layout-breakpoint-1) {
		.about {
			visibility: hidden;
		}
	}

	.work-senegal {
		color: rgb(255, 196, 0);
		// text-decoration: underline;
	}

	// .work-list-container {
	// z-index: -1;
	// }


	.images-loaded {
		&.senegal-on-hover-grid-overlay {
			visibility: visible;
		}

		.senegal-southwest-arrow {
			transition: translate 0.6s, opacity 0.6s, scale 0.6s;
			transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
			transition-delay: 0.6s;
			opacity: 1;
			translate: 0 0;
			scale: 1;
		}

		.senegal-images-group,
		.senegal-images-box:after,
		.senegal-images-box:before {
			transition: translate 0.4s, scale 0.4s;
			transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
			// transition-delay: .15s;
		}

		.senegal-images-group {
			translate: $senegal-box-translate (-$senegal-box-translate);
		}

		.senegal-images-box {
			&:after {
				// translate: $senegal-box-translate $senegal-box-translate;
				scale: 1;
			}
			&:before {
				// translate: 0 (-$senegal-box-translate);
				scale: 1;
			}
		}
	}	
}

:root:has(.work-explorations:hover) {
// :root:has(.work-explorations) {
	color-scheme: dark;

	body {
		background: #000000;
		color: #ffffff2a;
	}

	.blackflag {
		// visibility: hidden;
      // blend mode
      // mix-blend-mode: screen;
      // opacity: 0.7;
      .flag-interior {
   		background: rgba(255, 255, 255, 0.15);
			border: none;
   		// background: rgba(0, 0, 0, 0.5);
         -webkit-backdrop-filter: blur(10px);
         backdrop-filter: blur(15px);
         // border-radius: .15cqw;
      }
	}

	.work-explorations {
		color: #ffffff;
	}

	@keyframes explorations-background-image {
		0% {
			opacity: 0;
			scale: 1.05;
			translate: -2% 1%;
		}
		5% {
			opacity: 0;
			scale: 1.05;
			translate: -2% 1%;
		}
		70% {
			opacity: 1;
		}
		100% {
			opacity: 1;
			scale: 1;
			translate: 0 0;
		}
	}

	.images-loaded {
		&.explorations-on-hover-grid-overlay {
			visibility: visible;
		}

		.explorations-image {
			animation: explorations-background-image 2s cubic-bezier(0.25, 0.16, 0.01, 0.99)
				0s 1 normal forwards;
		}
	}

}
}
