$mobile-layout-breakpoint: 900px;
$senegal-box-translate: 20px;
$work-astro-breakpoint: 1430px;
// $senegal-box-translate: 3%;
$header-contact-breakpoint: 500px;

$margin-page-1: min(2rem, 5vw);
$margin-page-2: min(2.5rem, 5vw + 0.5rem);
$header-gap: 7rem;
$content-title-offset-gap: 4rem;

:root {
   --color-fg-2: #bbb;
   --link-underline-offset: 0.12em;
}