$mobile-layout-breakpoint-1: 900px;
$mobile-layout-breakpoint-2: 730px;
$senegal-box-translate: 20px;
$work-astro-breakpoint: 1430px;
// $senegal-box-translate: 3%;
$header-contact-breakpoint: 500px;

$margin-page-1: min(2rem, 5vw);
$margin-page-2: min(2.5rem, 5vw + 0.5rem);
$header-gap: 7rem;
$content-title-offset-gap: 4rem;

:root {
	--color-fg-2: #bbb;
	--link-underline-offset: 0.12em;
}

@mixin inter-display {
	font-variation-settings: "opsz" 32;
}

@mixin inter-text {
	font-variation-settings: "opsz" 14;
	letter-spacing: -0.015em;
}

.inter-display {
	@include inter-display;
}

.inter-text {
	@include inter-text;
}

@mixin inter-monospace-numbers {
	font-feature-settings: "cv04", "tnum";
}

.inter-monospace-numbers {
	@include inter-monospace-numbers;
}
