$mobile-layout-breakpoint: 900px;
$senegal-box-translate: 20px;
$work-astro-breakpoint: 1430px;
// $senegal-box-translate: 3%;
$header-contact-breakpoint: 500px;

$margin-page-1: min(2em, 5vw);
$margin-page-2: min(2.5em, 5vw + 0.5em);

