$mobile-layout-breakpoint-1: 900px;
$mobile-layout-breakpoint-2: 730px;
$senegal-box-translate: 20px;
$work-astro-breakpoint: 1430px;
// $senegal-box-translate: 3%;
$header-contact-breakpoint: 500px;
$header-gap-row: .2rem;
$header-gap-column: 1rem;

$margin-page-1: min(2rem, 5vw);
$margin-page-2: min(2.5rem, 5vw + 0.5rem);
$header-gap: 7rem;
$content-title-offset-gap: 4rem;

@mixin inter-display {
	font-variation-settings: "opsz" 32;
}

@mixin inter-text {
	font-variation-settings: "opsz" 14;
	letter-spacing: -0.010em;
}

@mixin inter-monospace-numbers {
	font-feature-settings: "cv04", "tnum";
}

$color-fg-1-monk: rgb(232, 230, 227);
$color-fg-2-monk: #414141;
$color-fg-3-monk: #fbfbfb;
$color-bg-1-monk: #000000;
$color-scheme-monk: dark;

$color-bg-1-martyr: #efefef;
$color-fg-1-martyr: #000000;
$color-fg-2-martyr: #aeaeae;
$color-scheme-martyr: light;

$color-bg-1-sgm: #2b0961;
$color-fg-1-sgm: #ffffff;
$color-fg-2-sgm: rgb(255, 196, 0);
$color-scheme-sgm: light;