---
import BaseLayout from "@layouts/Base.astro";
import About from "@components/Index/About.astro";
import Work from "@components/Index/Work.astro";
import Reflections from "@components/Index/Reflections.astro";
import TheField from "@components/Index/TheField.astro";
import Edge from "@components/Index/Edge.astro";
// import WorkHoverMartyr from "@components/Work-Hover/Work-Hover-Martyr.astro";
// import WorkHoverMonk from "@components/Work-Hover/Work-Hover-Monk.astro";
// import WorkHoverSenegal from "@components/Work-Hover/Work-Hover-Senegal.astro";
// import WorkHoverExplorations from "@components/Work-Hover/Work-Hover-Explorations.astro";
// import "@styles/index-work-hover.scss";
---

<!-- <script src="@scripts/decode-images.js"></script> -->

<BaseLayout title="Alejandro Romano">
	<main>
      <span class="arrow-before-work">↘</span>
      <!-- <span class="arrow-southwest inter-display">↙</span> -->
		<h2 class="index-section-title">Work</h2>
		<section class="index-section">
			<span>↓</span>
			<Work />
		</section>
      <!-- <span class="symbol-small">~\</span> -->
      <!-- <About /> -->
		<h2 class="index-section-title reflections-section-title">Reflections</h2>
		<section class="index-section">
			<Reflections />
		</section>
		<h2 class="index-section-title about-section-title">In the Field</h2>
		<section class="index-section">
			<TheField />
		</section>
		<h2 class="index-section-title about-section-title">Edge</h2>
		<section class="index-section">
			<Edge />
		</section>
      <!-- <Footer /> -->
		<h2 class="index-section-title about-section-title">About</h2>
		<section class="index-section about-section">
			<span>↓</span>
			<About />
		</section>
	</main>
</BaseLayout>

<style lang="scss">
	main {
		display: grid;
		grid-template-columns: subgrid;
		grid-column: full-width;
		grid-row: main-content;
		grid-auto-rows: min-content;
		// grid-templare-rows: 
		// place-items: start;
	}

	h2 {
		grid-column: heading;
		// grid-row: work-section;
		justify-self: end;
		text-transform: uppercase;
		font-variation-settings: "opsz" 32;
    	font-weight: 500;
    	letter-spacing: .02em;
		line-height: 1;
		font-size: 1em;
		@media (max-width: $mobile-layout-breakpoint-1) {
			justify-self: start;
			line-height: initial;
			margin-bottom: 1.4em;
		}
	}

	:where(:not(h1, h1 *, h2)) { 
			grid-column: main-content;
			width: 100%;
	}

	.arrow-before-work {
		grid-column: heading;
    	font-weight: 350;
		font-size: 2em;
		margin-block: 0.8em 0em;
		line-height: 1;
	}

	.index-section-title {
		margin-block: 2em;
	}

	.index-section {
		grid-column: main-content;
		margin-block: 2em;
		> span {
			display: block;
			margin-bottom: 1em;
			line-height: 1.1;
			font-weight: 500;
		}
	}

	.about-section > span {
		margin-bottom: 1.8em;
		
	}
</style>