---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import About from "@components/About.astro";
import BlackFlag from "@components/BlackFlag.astro";
import Work from "@components/Work.astro";
import Footer from "@components/Footer.astro";
import WorkHoverMartyr from "@components/Work-Hover/Work-Hover-Martyr.astro";
import WorkHoverMonk from "@components/Work-Hover/Work-Hover-Monk.astro";
import WorkHoverSenegal from "@components/Work-Hover/Work-Hover-Senegal.astro";
import "@styles/index-work-hover.scss";
---

<script src="@scripts/decode-images.js"></script>

<Layout title="Alejandro Romano">
	<main>
		<div class="index-1">
			<Header class="header" />
			<span class="arrow">↘</span>
			<Work />
			<span class="symbol-small">~\</span>
			<About class="about" />
			<WorkHoverSenegal />
			<WorkHoverMonk />
		</div>
		<div class="index-2">
			<BlackFlag />
			<Footer />
		</div>
		<WorkHoverMartyr />
	</main>
</Layout>

<style lang="scss">
	.index-1,
	.index-2 {
		display: grid;
		grid-template-rows: subgrid;
		grid-template-columns: subgrid;
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		pointer-events: none;
		> :global(*):not(.pointer-events-none) {
			pointer-events: auto;
		}
	}

	.symbol-small {
		display: none;
	}

	main {
		// min-height: 800px;
		min-height: 100dvh;
		width: 100%;
		display: grid;
		grid-template-columns:
			[full-width-start] 2rem
			[header-start header-title-start work-section-start content-title-start about-start] 8rem
			[header-title-end content-title-end] 4rem
			[contact-start content-blocks-start] auto
			/*
         [about-end footer-start] auto
         [contact-end header-end work-section-end content-blocks-end] 5rem
         */
			[about-end footer-start contact-end header-end work-section-end content-blocks-end] 5rem
			[blackflag-start] minmax(auto, min(40rem, 40%))
			[blackflag-end footer-end] 2rem
			[full-width-end];
		grid-template-rows:
			2rem
			[header-start contact-start blackflag-start] auto
			[header-end contact-end arrow-start] auto
			[arrow-end work-section-start] auto
			[work-section-end reflections-section-start] 4rem 1fr
			[reflections-section-end about-start] auto
			[blackflag-end] 10rem
			[footer-start] 2rem
			[about-end footer-end]
			2rem;
	}

	@media (max-width: $mobile-layout-breakpoint) {
		main {
			// min-height: 100dvh;
			// height: auto;
			min-height: unset;
			grid-template-columns:
				[full-width-start]
				2rem
				[header-start header-title-start work-section-start content-title-start about-start
				blackflag-start content-title-end content-blocks-start footer-start]
				min-content
				[header-title-end contact-start]
				auto
				[about-end]
				1fr
				[header-end contact-end
				work-section-end content-blocks-end blackflag-end footer-end]
				2rem
				[full-width-end];
			grid-template-rows:
				minmax(100svh, auto)
				auto;
		}
		.index-1 {
			grid-template-rows:
				2rem
				[header-start header-title-start contact-start] auto
				[arrow-start header-title-end] auto
				[arrow-end header-end contact-end] auto
				[work-section-start] auto auto
				[work-section-end reflections-section-start] 4rem
				1fr
				[reflections-section-end about-start] auto
				[about-end]
				2.5rem;
			grid-row: 1 / 2;
		}
		.index-2 {
			grid-template-rows:
				[blackflag-start] auto
				[blackflag-end] 6rem
				[footer-start] 2rem
				[footer-end]
				2rem;
			grid-row: 2 / 3;
		}
	}

	@media (min-width: 460px) and (max-width: $mobile-layout-breakpoint) {
		.symbol-small {
			display: block;
			grid-row: about;
			grid-column: about-end;
			place-self: end;
		}
	}

	.arrow {
		grid-row: arrow;
		grid-column: header-start;
		font-size: 2.2rem;
		font-weight: 600;
		line-height: 1em;
		margin-block: clamp(1rem, 3vw, 1.8rem) 1.2rem;
		// box-sizing: content-box;
		// padding-block: 0.3rem;
	}
</style>
