---
import BaseLayout from "@layouts/Base.astro";
import Header from "@components/Header.astro";
import About from "@components/About.astro";
import BlackFlag from "@components/BlackFlag.astro";
import Work from "@components/Work.astro";
import Footer from "@components/Footer.astro";
import WorkHoverMartyr from "@components/Work-Hover/Work-Hover-Martyr.astro";
import WorkHoverMonk from "@components/Work-Hover/Work-Hover-Monk.astro";
import WorkHoverSenegal from "@components/Work-Hover/Work-Hover-Senegal.astro";
import WorkHoverExplorations from "@components/Work-Hover/Work-Hover-Explorations.astro";
import "@styles/index-work-hover.scss";
---

<script src="@scripts/decode-images.js"></script>

<BaseLayout title="Alejandro Romano">
	<main>
		<div class="index-1">
			<Header contactVisible={true} />
			<span class="arrow-before-work">↘</span>
			<Work />
			<span class="symbol-small">~\</span>
			<About />
			<WorkHoverSenegal />
			<WorkHoverMonk />
			<WorkHoverMartyr />
		</div>
		<div class="index-2">
			<BlackFlag />
			<Footer />
		</div>
		<WorkHoverExplorations />
	</main>
</BaseLayout>

<style lang="scss">
	.index-1,
	.index-2 {
		display: grid;
		grid-template-rows: subgrid;
		grid-template-columns: subgrid;
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		pointer-events: none;
		> :global(*):not(.pointer-events-none) {
			pointer-events: auto;
		}
	}

	.symbol-small {
		display: none;
	}

	main {
		font-size: 1rem;
		// min-height: 800px;
		min-height: 100dvh;
		width: 100%;
		display: grid;
		grid-template-columns:
			[full-width-start] $margin-page-1
			[header-start header-title-start work-section-start content-title-start about-start] min-content
			[header-title-end] ($header-gap - $content-title-offset-gap)
			[content-title-end] $content-title-offset-gap
			[header-contact-start content-blocks-start] auto
			/*
         [about-end footer-start] auto
         [contact-end header-end work-section-end content-blocks-end] 5em
         */
			[about-end footer-start header-contact-end header-end work-section-end content-blocks-end] 5em
			[blackflag-start] minmax(auto, min(40em, 30%))
			[blackflag-end footer-end] 2em
			[full-width-end];
		grid-template-rows:
			2rem
			[header-start header-contact-start blackflag-start] auto
			[header-end header-contact-end arrow-start] auto
			[arrow-end work-section-start] auto
			[work-section-end reflections-section-start] 4rem 1fr
			[reflections-section-end about-start] auto
			[blackflag-end] 10rem
			[footer-start] 2rem
			[about-end footer-end]
			$margin-page-1;
	}

	@media (max-width: $mobile-layout-breakpoint-1) {
		main {
			// min-height: 100dvh;
			// height: auto;
			min-height: unset;
			grid-template-columns:
				[full-width-start]
				$margin-page-1
				[header-start header-title-start work-section-start content-title-start about-start
				blackflag-start content-title-end content-blocks-start footer-start]
				min-content
				[header-title-end header-contact-start]
				auto
				[about-end]
				1fr
				[header-end header-contact-end
				work-section-end content-blocks-end blackflag-end footer-end]
				$margin-page-1
				[full-width-end];
			grid-template-rows:
				minmax(100svh, auto)
				auto;
		}
		.index-1 {
			grid-template-rows:
				$margin-page-1
				[header-start header-title-start header-contact-start] auto
				[arrow-start header-title-end] auto
				[arrow-end header-end header-contact-end] auto
				[work-section-start] auto auto
				[work-section-end reflections-section-start] 2rem
				1fr
				[reflections-section-end about-start] auto
				[about-end]
				$margin-page-2;
			grid-row: 1 / 2;
		}
		.index-2 {
			grid-template-rows:
				[blackflag-start] auto
				[blackflag-end] 6rem
				[footer-start] 2rem
				[footer-end]
				$margin-page-2;
			grid-row: 2 / 3;
		}
	}

	@media (min-width: 460px) and (max-width: $mobile-layout-breakpoint-1) {
		.symbol-small {
			display: block;
			grid-row: about;
			grid-column: about-end;
			place-self: end;
		}
	}

	.arrow-before-work {
		grid-row: arrow;
		grid-column: header-start;
		font-size: 2.2em;
		font-weight: 300;
		line-height: 1em;
		margin-block: clamp(0em, -0.4em + 3vmin, .6em) clamp(.4em, 3vmin, .8em);
		// box-sizing: content-box;
		// padding-block: 0.3rem;
		@media (max-width: 700px) {
			// display: none;
			opacity: 0;
			font-size: .7em;
		}

		@media (max-width: $header-contact-breakpoint) {
			display: none;
		}
	}
</style>
