---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import About from "../components/About.astro"
---

<Layout title="Welcome to Astro.">
   <main>
      <Header class="header" />
      <About class="about" />
   </main>
</Layout>

<style lang="scss">
   main {
      height: 100dvh;
      display: grid;
      grid-template-areas: 
      ".  .         .          ."
      ".  header    blackflag  ."
      ".  content   blackflag  ."
      ".  about     blackflag  ."
      ".  about     footer     ."
      ".  .         .          .";
      grid-template-columns: 2rem auto 1fr 2rem;
      grid-template-rows: 2rem auto 1fr auto auto 2rem;

   }
</style>


