<section class="about inter-text">
   <header>
      <p>
         Web engineer & Visual artist<br />Founder of <a
            href="http://martyr.shop"
            target="_blank"
            rel="noopener noreferrer">MARTYR X LTD</a
         >
      </p>
   </header>
   <div class="about-textblock">
      <!-- <p style="text-indent: 3.8em;"> -->
      <p>
         Based in argentina. Born in 1994. Exploring the intersection between technology and human interaction.
      </p>
      <p>Amidst the chaos that surrounds us, how does beauty and simplicity come to light?</p>
      <p>My work is a lifelong, continuous journey to find the answer.</p>
      <p class="about-authentic">For authentic people.<br>By authentic people. <span class="about-last-arrow">←</span></p>
   </div>
</section>

<style lang="scss">
   .about {
      max-width: 32ch;
      font-size: clamp(2.2em, 4vw, 2.8em);
      font-feature-settings: "cv08", "cv10";
      font-weight: 500;
      letter-spacing: -0.03em;
      line-height: 1.18;
      text-wrap-style: balance;
   }

   header {
      padding-bottom: 0.6em;
      margin-bottom: 0.7em;
      border-bottom: 3px solid;
      border-bottom: max(0.15rem, 0.06em) solid;
      border-color: inherit;
      text-transform: uppercase;
      a {
         text-decoration: none;
         display: inline-block;
      }
   }

   .about-textblock {
      p {
         // text-align: justify;
         text-transform: uppercase;
         &:not(:last-child) {
            margin-bottom: 0.5em;
         }
      }
   }
   .about-last-arrow {
      float: right;
      position: relative;
      right: -0.05em;
      // padding-left: 2em;
      // @media screen and (max-width: 50em) {
      @media screen and (max-width: 70em) {
         display: none;
      }
   }

   /*
   @media (min-width: 460px) and (max-width: 800px) {
      .about-last-arrow {
         display: none;
      }
   }
   */

</style>

<!-- 
<style is:global lang="scss">
   body:has(.about-authentic:hover) main {
      > * > *:not(.about) {
         visibility: hidden;
      }
      .about {
         color: transparent;
      }
   }
</style> -->
