<section class="blackflag">
    <div class="flag flag-1">
        <div class="flag-interior"></div>
    </div>
    <div class="flag flag-2">
        <div class="flag-interior"></div>
    </div>
    <div class="flag flag-3">
        <div class="flag-interior"></div>
    </div>
    <div class="flag flag-4">
        <div class="flag-interior"></div>
    </div>
</section>

<style lang="scss">
    .blackflag {
        grid-area: blackflag;
        display: flex;
        min-width: 0;
        max-width: 100%;
        height: auto;
        aspect-ratio: 8/7;
        justify-self: end;
        // width: min-content;
        
        /* firefox fix */
        width: -moz-available;
        max-height: 100%;

        @media (max-width: $mobile-layout-breakpoint) {
            justify-self: auto;
            
        }

    }

    .flag {
        // width: 20%;
        flex: 1;
        &:hover > .flag-interior {
            background: gray;

        }
    }
    .flag:not(:last-child) {
        padding-right: 3.5%;
    }
    .flag-1, .flag-2 {
        margin-top: 6%;
        margin-bottom: 10%;
    }
    .flag-3 {
        margin-top: 14%;
    }
    .flag-4 {
        margin-bottom: 22%;
    }
    .flag-interior {
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, #000000, #4D4D4D);
    }

</style>

