<nav class="contact">
   <ul>
      <li class="email-dialog-wrapper">
         <button class="email-dialog-button">email</button>
         <dialog class="email-dialog">
            <span>alejandro@martyr.shop</span>
            <button class="email-dialog-send-mail" onclick="window.location.href='mailto:alejandro@martyr.shop'">send mail</button>
         </dialog>
      </li>
      <li><a href="https://github.com/arecsu" target="_blank">github</a></li>
      <li><a href="https://instagram.com/malejand_ro" target="_blank">instagram</a></li>
      <!-- <li><span>//</span></li>
      <li><a href="https://www.last.fm/user/alejandro9r" target="_blank">last.fm</a></li> -->
   </ul>
</nav>

<script>
   const emailDialogButton = document.querySelector<HTMLElement>('.email-dialog-button')
   const emailDialog = document.querySelector<HTMLDialogElement>('.email-dialog')

   emailDialogButton!.addEventListener('click', () => {
      emailDialog!.showModal()
   })

</script>

<style lang="scss">
   .contact ul {
      // width: 100%;
      display: flex;
      column-gap: $header-gap-column;
      row-gap: $header-gap-row;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
         white-space: nowrap;
      
         &:not(:first-child)::before {
            content: "//";
            margin-right: $header-gap-column;
         }
      }

      a {
         text-decoration: none;
      }
   }

   :global(.header-contact) {
      .contact ul {
         @media (max-width: $mobile-layout-breakpoint-1) {
            justify-content: end;
         }
      }

      /*
      .contact-break {
         @media (max-width: $header-contact-breakpoint) {
            display: block;
            flex-basis: 100%;
            height: 0;
         }
      }
      */
   }

   .email-dialog-wrapper {
      position: relative;
   }

   .email-dialog {
      position: absolute;
      visibility: hidden;
      top: 2rem;
      left: 0;
      background: var(--footer-top-color, white);
      display: flex;
      gap: 1rem;
      flex-direction: column;
      padding: 2.5rem 2.2rem;
      color: var(--footer-fg-color, black);
      z-index: 1;
      cursor: zoom-in;
      border: 1px solid var(--footer-fg-color, black);
      @media (max-width: $mobile-layout-breakpoint-1) {
         right: 0;
         left: unset;
      }
   }
   .email-dialog.visible {
      visibility: visible;
   }
   .email-dialog-send-mail {
      border: 1px solid var(--footer-fg-color, black);
   }
</style>

<style is:global lang="scss">
   :root:has(.email-dialog.visible) {
      --color-fg-1: #ccc;
   }
</style>

