---
import FooterArrow from "@components/FooterArrow.astro"
// import NowListening from "@components/NowListening.svelte"
---

<footer>
   <!-- <NowListening client:only="svelte" /> -->
   <span class="footer-arrow">
      <FooterArrow />
   </span>
</footer>

<style lang="scss">
   .now-listening {
      display: none;
   }

   footer {
      display: grid;
      grid-area: footer;
      place-self: end;
   }
</style>
