<header>
   <span>alejandro romano</span>
   <div><span>email</span><span>//</span><span>github</span><span>//</span><span>instagram</span></div>
</header>

<style lang="scss">
   header {
      grid-area: header;
      display: flex;
      place-content: space-between;
      div {
         display: flex;
         gap: 1rem;
      }
   }
</style>
