<div class="container">
	<div class="language">
		<span>↓</span>
		<button>ES</button>
		<span>/</span>
		<button>EN</button>
	</div>
	<div class="list-container">
		<ul class="unstyled-list links-no-underline">
			<!-- <li><a href="/">The Worst Thing</a><time>18 May, 2024</time></li>
			<li><a href="/">Comfortable Couples</a><time>20 Feb, 2024</time></li>
			<li><a href="/">Skill Issue</a><time>18 Jan, 2024</time></li>
			<li><a href="/">The Industralist Mindset is Over</a><time>05 Jul, 2024</time></li> -->
			<li><a href="/"><span>The Worst Thing</span><time>18 May, 2024</time></a></li>
			<li><a href="/"><span>Comfortable Couples</span><time>20 Feb, 2024</time></a></li>
			<li><a href="/"><span>Skill Issue</span><time>18 Jan, 2024</time></a></li>
			<li><a href="/"><span>The Industralist Mindset is Over</span><time>05 Jul, 2024</time></a></li>
		</ul>
	</div>
</div>

<style lang="scss">
	.language {
		display: flex;
		gap: 0.8em;
		line-height: 1;
		margin-bottom: 1.1em;
		
		span:first-child {
			margin-right: 1.2em;
		}
	}
	// .list-container ul {
	// 	display: flex;
	// 	flex-flow: column;
	// 	gap: 0.3em;
	// }

	.list-container li {
		margin-bottom: 0;
	}


	.list-container li a {
		display: flex;
		gap: 4ch;
		width: min(100%, 50ch);
		align-items: center;
		line-height: 2;

		span {
			display: inline-block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			flex-grow: 1;
		}

		time {
			text-transform: uppercase;
			letter-spacing: 0.02em;
			@include inter-monospace-numbers;
			font-size: 0.86em;
			text-wrap: nowrap;
			// font-family: 'Roboto Mono', monospace;
			// font-weight: 400;
			// font-feature-settings: initial;
		}

	}


</style>