---
import WorkPageLayout from "@layouts/WorkPage.astro"
import { Content as MartyrAboutContent } from "./_martyr.mdx"
---

<WorkPageLayout title="martyr⁠—" workPageClass="work-page-martyr">
	<h2>Web</h2>
	<p><a href="https://martyr.shop" target="_blank">https://martyr.shop/</a></p>
	<h2>Role</h2>
	<p style="text-transform: uppercase">Founder</p>
	<h2>Timeline</h2>
	<p class="inter-monospace-numbers">2019 ---> [ONGOING]</p>
	<h2>About</h2>
	<MartyrAboutContent />
</WorkPageLayout>


<style lang="scss">
	html:root {
		color-scheme: $color-scheme-martyr;
		--link-background-color-hover: #{$color-fg-1-martyr};
		--link-color-hover: #{$color-bg-1-martyr};
		--footer-top-color: #{$color-fg-1-martyr};
		--footer-bottom-color: #{$color-bg-1-martyr};
		--footer-fg-color: #{$color-bg-1-martyr};
		--page-color-background: #{$color-bg-1-martyr};
		--page-color-foreground: #{$color-fg-1-martyr};
	}
</style>

<style is:global lang="scss">
	.work-page-martyr main {
		@media (max-width: 340px) {
			// @media (max-width: $header-contact-breakpoint) {
			.work-page-title span {
				display: none;
			}
		}

		.work-page-title {
			font-size: clamp(3em, -6em + 24vw, 6em);
		}

		img.all-torn-paper-wide {
			width: 104%;
  			max-width: unset;
  			justify-self: center;

			@media (max-width: $mobile-layout-breakpoint-1) {
				display: none;
			}
		}

		img.all-torn-paper-mobile {
			display: none;
			@media (max-width: $mobile-layout-breakpoint-1) {
				display: block;
			}
		}

		.martyr-marquee-wrapper {
			margin-block: 2rem;
			font-size: 1.2rem;
		}
	}
</style>
