---
import WorkPageLayout from "@layouts/WorkPage.astro"
import { Content as MartyrAboutContent } from "./_martyr.md"
---

<WorkPageLayout title="martyr⁠—" workPageClass="work-page-martyr">
	<h2>Web</h2>
	<p><a href="https://martyr.shop" target="_blank">https://martyr.shop/</a></p>
	<h2>Role</h2>
	<p>FOUNDER</p>
	<h2>Timeline</h2>
	<p class="inter-monospace-numbers">2019 ---> [ONGOING]</p>
	<h2>About</h2>
	<MartyrAboutContent />
</WorkPageLayout>

<style lang="scss">
	:root {
		color-scheme: $color-scheme-martyr;
		--link-background-color-hover: #{$color-fg-1-martyr};
		--link-color-hover: #{$color-bg-1-martyr};
	}
	body {
		background: $color-bg-1-martyr;
		color: $color-fg-1-martyr;
	}
	</style>

<style is:global lang="scss">
	.work-page-martyr {
		@media (max-width: 340px) {
			// @media (max-width: $header-contact-breakpoint) {
			.work-page-title span {
				display: none;
			}
		}

		.work-page-title {
			font-size: clamp(3em, -6em + 24vw, 6em);
		}
	}
</style>
