---
import WorkPageLayout from "@layouts/WorkPage.astro"
import { Content as MonkAboutContent } from "./_monk.mdx"
---

<WorkPageLayout title="mönk" workPageClass="work-page-monk">
	<h2>Web</h2>
	<p><a href="https://monkstudeyo.com" target="_blank">https://monkstudeyo.com</a></p>
	<h2>Role</h2>
	<p style="text-transform: uppercase">Web Engineer ~ 3D Integration</p>
	<h2>Timeline</h2>
	<p class="inter-monospace-numbers">2023 ---> [ONGOING]</p>
	<h2>About</h2>
	<MonkAboutContent />
</WorkPageLayout>

<style lang="scss">
html:root {
	color-scheme: $color-scheme-monk;
	--link-background-color-hover: #{$color-fg-3-monk};
	--link-color-hover: #{$color-bg-1-monk};
	--footer-top-color: #{$color-bg-1-monk};
	--footer-bottom-color: #{$color-fg-1-monk};
	--footer-fg-color: #{$color-fg-1-monk};
}
body {
	background: $color-bg-1-monk;
	color: $color-fg-1-monk;
}
</style>


<style is:global lang="scss">
	.work-page-monk {
		@media (max-width: 340px) {
		// @media (max-width: $header-contact-breakpoint) {
			.work-page-title span {
				display: none;
			}
		}

		.work-page-title {
			font-size: clamp(3em, -6em + 24vw, 6em); 
		}
	}
</style>