---
import { getCollection } from "astro:content"
import ReflectionsList from "./ReflectionsList.astro"
import { REFLECTIONS_LANGUAGES, type SupportedReflectionsLang } from "@/languages.ts"

// Get all reflections
const allreflections = await getCollection("reflections");

const langreflections = Object.keys(REFLECTIONS_LANGUAGES).reduce((acc, lang) => {
  const typedLang = lang as SupportedReflectionsLang; // Assert the type explicitly
  acc[typedLang] = allreflections.filter((reflections) => reflections.id.startsWith(`${typedLang}/`));
  return acc;
}, {} as Record<SupportedReflectionsLang, typeof allreflections>);
---

<div class="container">
	<div class="language">
		<span>↓</span>
		<button id="reflections-button-lang-es">ES</button>
		<span>/</span>
		<button id="reflections-button-lang-en">EN</button>
	</div>
	<div class="list-container">
		{Object.keys(langreflections).map((lang) => (
			<ReflectionsList 
				reflections={langreflections[lang as SupportedReflectionsLang]} 
				locale={REFLECTIONS_LANGUAGES[lang as SupportedReflectionsLang].locale} 
				langClass={REFLECTIONS_LANGUAGES[lang as SupportedReflectionsLang].htmlLangClass} 
			/>
		))}
	</div>
</div>

<script>
	document.addEventListener('astro:page-load', () => {
		document.getElementById("reflections-button-lang-es")!.addEventListener("click", () => window.setLang("es"))
		document.getElementById("reflections-button-lang-en")!.addEventListener("click", () => window.setLang("en"))
	})
</script>

<style lang="scss">
	$padding-block-buttons: 0.2em;

	.language {
		display: flex;
		gap: 0.8em;
		line-height: 1;
		margin-bottom: 1em;
		align-items: center;
		margin-top: -$padding-block-buttons;

		span:first-child {
			margin-right: 1.2em;
		}
	}

	.language button {
		width: 1.5em;
		padding-block: $padding-block-buttons;
	}

	:global(html[data-lang="es"]) #reflections-button-lang-es,
	:global(html[data-lang="en"]) #reflections-button-lang-en {
		text-decoration: underline;
		text-underline-offset: 0.2em;
		font-weight: 600;
		&:hover {
			text-decoration: none;
		}
	}
</style>
