---
import type { CollectionEntry } from 'astro:content';
import { REFLECTIONS_LANGUAGES, type SupportedReflectionsLang } from "@/languages.ts"

interface Props {
  reflections: CollectionEntry<'reflections'>[];
  locale: typeof REFLECTIONS_LANGUAGES[SupportedReflectionsLang]['locale']; // Dynamically infer locale types
  langClass: typeof REFLECTIONS_LANGUAGES[SupportedReflectionsLang]['htmlLangClass']; // Dynamically infer langClass types
}

const { reflections, locale, langClass } = Astro.props;
---

<ul class={`unstyled-list links-no-underline ${langClass}`}>
  {reflections.map((reflections) => (
    <li>
      <a href={`/reflections/${reflections.slug}`}>
        <span>{reflections.data.title}</span>
        <time>
          {reflections.data.date?.toLocaleDateString(locale, { 
            day: '2-digit', 
            month: 'short', 
            year: 'numeric' 
          })}
        </time>
      </a>
    </li>
  ))}
</ul>

<style lang="scss">
  li {
    margin-bottom: 0;
  }

  li a {
    display: flex;
    gap: 4ch;
    width: min(100%, 50ch);
    align-items: center;
    line-height: 2;

    span {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex-grow: 1;
    }

    time {
      text-transform: uppercase;
      letter-spacing: 0.02em;
      @include inter-monospace-numbers;
      font-size: 0.86em;
      text-wrap: nowrap;
    }
  }

  	// Add these new styles for language switching
	.lang-es,
	.lang-en {
		display: none;
	}

	:global(html[data-lang="es"]) .lang-es,
	:global(html[data-lang="en"]) .lang-en {
		display: block;
	}
</style> 