<div class="work-list-container">
	<div class="work-list">
		<a href="work/martyr/" class="work work-martyr">
			<span class="inter-display work-title">martyr⁠—</span>
			<span class="work-timeline">2019 ---> +</span>
			<span class="work-type">Founder</span>
		</a>
		<a href="work/monk/" class="work work-monk">
			<span class="inter-display work-title">mönk</span>
			<span class="work-timeline">2023 ---> +</span>
			<span class="work-type">Web ~ 3D</span>
		</a>
		<a href="work/sgm/" class="work work-senegal">
			<span class="inter-display work-title work-title-default"
				>Senegal<br /> Grindcore Mafia</span
			>
			<span class="inter-display work-title work-title-mobile">sgm</span>
			<span class="work-timeline">2017 → 2019</span>
			<span class="work-type">Visuals</span>
		</a>
		<a href="work/explorations/" class="work work-explorations">
			<span class="inter-display work-title">explorations</span>
			<span class="work-timeline">2013 ---> +</span>
			<span class="work-type">[--------]</span>
		</a>
	</div>
</div>

<style lang="scss">
	.work-list-container {
		container-name: work-list-container;
		container-type: inline-size;
	}

	.work-section {
		font-size: 1em;
		// grid-area: content;
		grid-area: work-section;
		display: grid;
		grid-template-columns: subgrid;
		// place-self: end;
		grid-template-rows: subgrid;
	}

	.work-block-title {
		grid-column: content-title;
		// grid-row: work-section;
		justify-self: end;
		text-transform: uppercase;
		line-height: 2em;
		@media (max-width: $mobile-layout-breakpoint-1) {
			justify-self: start;
			line-height: initial;
			margin-bottom: 1.4em;
		}
	}

	.work-title-mobile {
		display: none;
	}

	.work-title-default {
		display: inline;
	}


	.work-list {
		// grid-row: work-section;
		display: grid;
		// grid-column: span 3;
		// grid-template-columns: repeat(3, auto);
		// grid-template-columns: repeat(3, max-content);
		grid-template-columns: auto max-content max-content;
		max-width: 74ch;
		// grid-template-rows: repeat(4, minmax(0, 1fr));
		// place-content: start;

		// replaced row-gap for padding-block in `.work` for proper hover interaction
		// row-gap: .4rem;

		.work {
			padding-block: 0.45em;
			&:first-child {
				// padding-top: 0;
				margin-top: -0.45em;
			}
			&:last-child {
				// padding-bottom: 0;
				margin-bottom: 0.45em;
			}
		}

		@media (max-width: $mobile-layout-breakpoint-2) {
			grid-template-columns: auto max-content max-content;
		}

		@container work-list-container (max-width: 512px) {
			grid-template-columns: max-content;
			// replaced row-gap for padding-block in `.work` for proper hover interaction
			// row-gap: 1.1rem;
			.work {
				padding-block: 0.55em;
				&:first-child {
					// padding-top: 0;
					margin-top: -0.75em;
				}
				&:last-child {
					// padding-bottom: 0;
					margin-bottom: -0.75em;
				}
			}
		}
	}

	.work-title {
		font-size: clamp(1.4em, 3vw, 1.5em);
		// font-size: 1.5em;
		text-transform: lowercase;
		// line-height: 3rem;
		font-weight: 450;
		line-height: 1.1em;
		letter-spacing: -0.008em;
        // text-decoration: underline;
        // text-decoration-thickness: 0.07em;
        // text-underline-offset: var(--link-underline-offset);
        // text-decoration-color: var(--color-fg-2);
	}
	.work-timeline {
		@include inter-monospace-numbers;
		font-size: 0.9em;
		text-wrap: nowrap;
	}
	.work-type {
		text-transform: uppercase;
		font-size: 0.9em;
		text-wrap: nowrap;
	}

	.work {
		text-decoration: none;
		display: grid;
		grid-template-columns: subgrid;
		// grid-template-rows: auto;
		grid-column: span 3;
		align-items: center;
		font-size: clamp(0.9rem, 3.6vw, 1rem);

		> *:not(:last-child) {
			padding-right: 2em;
			// width: max-content;
		}

		@container work-list-container (max-width: 512px) {
			grid-template-columns: auto 1fr;
			grid-template-rows: auto auto;
			grid-column: 1;
			row-gap: 0.3em;
			// row-gap: .6rem;
			grid-template-areas:
				"work-title work-type"
				"work-timeline work-timeline";
			.work-title {
				grid-area: work-title;
				padding-right: 1em;
			}
			.work-timeline {
				grid-area: work-timeline;
			}
			.work-type {
				grid-area: work-type;
				align-self: self-end;
				// margin-bottom: 0.04em;
			}

			> * {
				padding-right: 0;
			}

            .work-title-mobile {
				display: inline;
			}

			.work-title-default {
				display: none;
			}
		}

		@container work-list-container (max-width: 380px) {
			.work-timeline {
				// display: none;
			}
		}
	}

	.work-senegal br {
		display: none;
		@container work-list-container (max-width: 512px) {
			display: inline;
		}
	}
</style>
