---
import BaseLayout from "@layouts/Base.astro"
import Header from "@components/Header.astro"

interface Props {
	title: string
}

const { title } = Astro.props
---

<BaseLayout title={title}>
	<div class="page-wrapper">
		<Header />
		<main>
			<h1>{title}</h1>
			<slot />
		</main>
	</div>
</BaseLayout>

<style lang="scss">
	.page-wrapper {
		font-size: 1rem;
		// min-height: 800px;
		min-height: 100dvh;
		width: 100%;
		display: grid;
		grid-template-columns:
			[full-width-start] $margin-page-1
			[header-start header-title-start main-content-start] 1fr
			[header-title-end header-end main-content-end]
			$margin-page-1 [full-width-end];
		grid-template-rows:
			$margin-page-1
			[header-start] auto
			[header-end main-content-start] 1fr
			[main-content-end]
			$margin-page-1;
	}
	main {
		grid-area: main-content;
	}
</style>
