---
import BaseLayout from "@layouts/Base.astro"
---
<BaseLayout title="under construction!">
   <div class="under-construction">
      <h2>page under construction :)</h2>
      <img src="https://miimoo.neocities.org/200.gif">
   </div>
</BaseLayout>

<style>
   .under-construction {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      height: 100dvh;
      width: 100vw;
      padding: 1rem;
   }

   .under-construction img {
      max-width: 100%;;
   }

   .under-construction h2 {
      font-family: 'Comic Sans MS';
      text-align: center;
   }
</style>