---
import BaseLayout from "@layouts/Base.astro"
import Header from "@components/Header.astro"

interface Props {
	title: string
	workPageClass?: string
}

const { title, workPageClass } = Astro.props
---

<BaseLayout title={title}>
	<div class:list={["work-page-wrapper", workPageClass]} >
		<Header contactVisible={true} />
		<main>
			<h1 class="inter-display work-page-title">{title} 
				<span>↙</span></h1>
			<slot />
		</main>
	</div>
</BaseLayout>

<style lang="scss">
	.work-page-wrapper {
		font-size: 1rem;
		// min-height: 800px;
		min-height: 100dvh;
		width: 100%;
		display: grid;
		grid-template-columns:
			[full-width-start] $margin-page-1
			[header-start header-title-start heading-start] min-content
			[header-title-end] ($header-gap - $content-title-offset-gap)
			[heading-end] $content-title-offset-gap
			[header-contact-start main-content-start] auto
			[header-contact-end header-end] 1fr
			[main-content-end]
			$margin-page-1 [full-width-end];
		grid-template-rows:
			$margin-page-1
			[header-start] min-content
			[header-end main-content-start page-title-start] min-content
			[page-title-end] auto
			[main-content-end]
			$margin-page-1;

		@media (max-width: $mobile-layout-breakpoint-1) {
			grid-template-columns:
				[full-width-start] $margin-page-1
				[header-start header-title-start heading-start main-content-start] auto
				[header-title-end header-contact-start] 1fr
				[main-content-end header-contact-end header-end heading-end]
				$margin-page-1 [full-width-end];
		}
	}

	main {
		display: grid;
		grid-template-columns: subgrid;
		grid-column: full-width;
		grid-row: main-content;
		grid-auto-rows: min-content;
		// row-gap: 1rem;
		place-items: start;
	}
</style>



<style is:global lang="scss">
	.work-page-wrapper main {
		$space-between-h2-sections: 0.9rem;

		h2 {
			grid-column: heading;
			text-transform: uppercase;
			justify-self: end;
			margin-block: $space-between-h2-sections 0;
		
			@media (max-width: $mobile-layout-breakpoint-1) {
				justify-self: start;
				// margin-block: 1em;
				// margin-top: .5rem;
			}
			& + *:not(h2) {
				margin-top: $space-between-h2-sections;
			}
		}
		:not(h2) { 
			@include inter-text;
			grid-column: main-content;
		}
		p {
			text-wrap: pretty;
			margin-block: 0em .6em;
			letter-spacing: -0.010em;
  			line-height: 1.55;
			@media (max-width: $mobile-layout-breakpoint-1) {
				margin-block: .3em .6em;
			}
		}
		p, h2 {
			max-width: 75ch;
		}
		h3 {
			margin-block: .7em .4em;
			letter-spacing: -0.02em;
			font-weight: 520;
			font-size: 1.6em;
			// text-transform: uppercase;
			// text-transform: lowercase;
			// font-size: 1.4em;
		}
	}

	.work-page-title {
		font-size: 6em;
		font-weight: 500;
		letter-spacing: -.02em;
		line-height: 1.2em;
		grid-column: main-content;
		margin-left: -0.055em;
		place-self: normal;
		margin-top: calc(0.7em + clamp(0rem, 8rem - 19.5vw, 1rem));
		margin-bottom: 1rem;
		span {
			float: right;
		}
		@media (max-width: $mobile-layout-breakpoint-1) {
			// margin-bottom: -0.5rem;
		}
	}
</style>

