---
import BaseLayout from "@layouts/Base.astro"
import Header from "@components/Header.astro"

interface Props {
	title: string
}

const { title } = Astro.props
---

<BaseLayout title={title}>
	<div class="work-page-wrapper">
		<Header contactVisible={true} />
		<main>
			<h1 class="inter-display work-page-title">{title} <span>↙</span></h1>
			<slot />
		</main>
	</div>
</BaseLayout>

<style lang="scss">
	.work-page-wrapper {
		font-size: 1rem;
		// min-height: 800px;
		min-height: 100dvh;
		width: 100%;
		display: grid;
		grid-template-columns:
			[full-width-start] $margin-page-1
			[header-start header-title-start heading-start] min-content
			[header-title-end] ($header-gap - $content-title-offset-gap)
			[heading-end] $content-title-offset-gap
			[header-contact-start main-content-start] auto
			[header-contact-end header-end] 1fr
			[main-content-end]
			$margin-page-1 [full-width-end];
		grid-template-rows:
			$margin-page-1
			[header-start] min-content
			[header-end main-content-start page-title-start] min-content
			[page-title-end] auto
			[main-content-end]
			$margin-page-1;
	}
	main {
		display: grid;
		grid-template-columns: subgrid;
		grid-column: full-width;
		grid-row: main-content;
		grid-auto-rows: min-content;
		row-gap: 2rem;
	}
	.work-page-title {
		font-size: 6em;
		font-weight: 500;
		letter-spacing: -.01em;
		grid-column: main-content;
		margin-left: -0.055em;
		span {
			float: right;
		}
	}
</style>

<style is:global lang="scss">
	.work-page-wrapper main {
		h2 {
			grid-column: heading;
			text-transform: uppercase;
			justify-self: end;
		}
		:not(h2) { 
			@include inter-text;
			grid-column: main-content;
		}
	}
</style>

