<div class="martyr-on-hover-grid-overlay">
   <img class="torn-paper-overlay" src="all-torn-paper-3.webp" height="2246" width="3744" decoding="async"/>
   <div class="notepad-overlay">
      <img src="martyr-hover-notepad.webp" height="1157" width="1157" decoding="async"/>
      <span class="notepad-cursor"></span>
   </div>
   <div class="inter-display martyr-marquee">
      <span>martyr—martyr—martyr—martyr—</span>
      <span>martyr—martyr—martyr—martyr—</span>
   </div>
</div>

<style lang="scss">
   .martyr-on-hover-grid-overlay {
      visibility: hidden;
      display: grid;
      grid-template-rows: subgrid;
      grid-template-columns: subgrid;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      overflow: hidden;
      // ↓ it won't affect the layout and `auto` sizes calculation of the grid-templates
      position: relative;
      pointer-events: none;
      color: black;
   }

   .torn-paper-overlay {
      grid-column: full-width;
      grid-row: 1 / -1;
      position: absolute;
      right: 0%;
      bottom: 0%;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      margin-bottom: clamp(0%, 55rem - 50vw, 9%);
      rotate: -0.5deg;
      translate: 10% 41%;
      transform-origin: center right;
      transition:
         translate 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
         rotate 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);

   }

   @keyframes notepad-cursor-blink {
      50% {
         opacity: 0;
      }
   }

   .notepad-overlay {
      grid-column: full-width;
      grid-row: 1 / -1;
      position: absolute;
      right: 10%;
      bottom: clamp(20%, 42rem - 20vw, 40%);
      // image-rendering: pixelated;
      // height: 100%;
      // width: 100%;
      > img {
         max-width: calc(1157px / 3);
         @media (max-width: ($mobile-layout-breakpoint + 150px) ) {
            max-width: calc(1157px / 4);
         }
         height: auto;
      }
      
      .notepad-cursor {
         display: block;
         position: absolute;
         width: .8%; // windows-98
         // width: 1%; // custom
         height: 5.25%;
         background: black;
         top: 15.8%;
         left: 66%;
         animation: notepad-cursor-blink 1s step-start 0s infinite;
      }
   }

   .martyr-marquee {
      top: clamp(-0.2rem, 19rem - 23.6vw, 11rem);
      @media (max-width: $mobile-layout-breakpoint) {
         top: clamp(-0.2rem, 20.3rem - 21.6vw, 10rem);
      }
      grid-column: full-width;
      grid-row: header-start / work-section-end;
      align-self: center;
      font-size: clamp(7rem, 13vw, 13rem);
      white-space: nowrap;
      font-weight: 500;
      position: absolute;
      // width: 100%;
      letter-spacing: -0.01em;
      display: flex;
      > span {
         animation-timing-function: linear;
         animation-iteration-count: infinite;
         animation-name: martyr-marquee;
         animation-duration: 12s;
         @media (max-width: $mobile-layout-breakpoint) {
            animation-duration: 10s;
         }
      }
   }

   @keyframes martyr-marquee {
      from {
         transform: translateX(0);
      }
      to {
         transform: translateX(-100%);
      }
   }
</style>
