---
import explorationsImage from "@media/explorations-color-8bit.avif";
---
<script>
	import { setClassInElementWhenImagesLoad } from "@scripts/helpers"

	document.addEventListener('astro:page-load', () => {
		const explorationsGridElement = document.querySelector(".explorations-on-hover-grid-overlay")
		if (explorationsGridElement) setClassInElementWhenImagesLoad(explorationsGridElement, "images-loaded")
	})
</script>

<div class="explorations-on-hover-grid-overlay pointer-events-none">
	<img
		class="explorations-image"
		src={explorationsImage.src}
		width="{explorationsImage.width}"
		height="{explorationsImage.height}"
		alt=""
		decoding="sync"
		loading="eager"
	/>
</div>

<style lang="scss">
	.explorations-on-hover-grid-overlay {
		visibility: hidden;
		// display: grid;
		// grid-template-rows: subgrid;
		// grid-template-columns: subgrid;
      z-index: -1;
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		overflow: hidden;
		width: 100%;
		position: sticky;
		top: 0;
		pointer-events: none;
		color: black;
      height: 100vh;
	}

	.explorations-image {
		opacity: 0;
      object-fit: cover;
      object-position: 100% 29%;
      width: 100%;
      height: 100%;
		// ↓ it won't affect the layout and `auto` sizes calculation of the grid-templates
		position: absolute;
	}
</style>
