---
import { Image } from "astro:assets";
import plasticSurgery from "@media/monk-plastic-surgery-01.jpg";
---

<div class="monk-on-hover-grid-overlay pointer-events-none">
	<Image
		class="plastic-surgery-01"
		src={plasticSurgery}
		alt=""
		width="400"
		format="avif"
		quality="60"
		decoding="sync"
		loading="eager"
	/>
</div>

<style lang="scss">
	.monk-on-hover-grid-overlay {
		visibility: hidden;
		display: grid;
		// grid-area: blackflag;
		// grid-column: about-end / blackflag-end;
		grid-column: about-end / full-width-end;
		grid-row: work-section-start / blackflag-end;
		overflow: hidden;
		// ↓ it won't affect the layout and `auto` sizes calculation of the grid-templates
		position: relative;
		pointer-events: none;
		color: black;
		// place-content: center;
		justify-items: center;
		@media (max-width: $mobile-layout-breakpoint) {
			grid-column: content-blocks;
			grid-row: reflections-section-start / about-end;
		}
	}

	.plastic-surgery-01 {
		margin-top: clamp(1rem, -27rem + 49vh, 10rem);
		width: clamp(140px, 26%, 250px);
		@media (max-width: $mobile-layout-breakpoint) {
			// width: 20vmax;
			width: min(20vh, 40vw);
		}
		height: auto;
		margin-right: clamp(0%, 48vw - 46rem, 60%);
		opacity: 0;
		// animation called on `index-work-hover.scss`
		// animation: monk-overlay-image 5s cubic-bezier(0.25, 0.16, 0.01, 0.99) 0s 1 normal forwards;
		@media (max-width: $mobile-layout-breakpoint) {
			align-self: center;
			margin-top: 0;
			// margin-bottom: 10rem;
		}
	}

	@keyframes monk-overlay-image {
		0% {
			opacity: 0;
			scale: 0.9;
		}
		5% {
			opacity: 0;
			scale: 0.9;
		}
		70% {
			opacity: 1;
		}
		100% {
			opacity: 1;
			scale: 1;
		}
	}
</style>
