---
import { Image } from "astro:assets"
import plasticSurgery from "@media/monk-plastic-surgery-01.jpg"
---

<div class="monk-on-hover-grid-overlay pointer-events-none">
	<Image
		class="plastic-surgery-01"
		src={plasticSurgery}
		alt=""
		width="400"
		format="avif"
		quality="60"
		decoding="sync"
		loading="eager"
	/>
</div>

<style lang="scss">
	.monk-on-hover-grid-overlay {
		visibility: hidden;
		display: grid;
		// grid-area: blackflag;
		// grid-column: about-end / blackflag-end;
		grid-column: about-end / full-width-end;
		grid-row: work-section-start / blackflag-end;
		overflow: hidden;
		// ↓ it won't affect the layout and `auto` sizes calculation of the grid-templates
		position: relative;
		pointer-events: none;
		color: black;
		// place-content: center;
		justify-items: center;
		@media (max-width: $mobile-layout-breakpoint-1) {
			grid-column: content-blocks;
			grid-row: reflections-section-start / about-end;
		}
	}

	.plastic-surgery-01 {
		margin-top: clamp(1rem, -27rem + 49vh, 10rem);
		width: clamp(140px, 26%, 250px);
		@media (max-width: $mobile-layout-breakpoint-1) {
			// width: 20vmax;
			width: min(20vh, 40vw);
		}
		height: auto;
		margin-right: clamp(0%, 48vw - 46rem, 60%);
		opacity: 0;
		// animation called on `index-work-hover.scss`
		@media (max-width: $mobile-layout-breakpoint-1) {
			align-self: center;
			margin-top: 0;
			// margin-bottom: 10rem;
		}
	}
</style>
